/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
  background: midnightblue;
  color: white;
  text-align: center;
  min-height: 100%;
}




h1 {
  font-style: italic;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.guestbook-form {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 6rem;
  margin-left: auto;
}

.form-row {
  margin-bottom: 2.5rem;
}

.form-row label {
  display:block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-row input,
.form-row textarea {
  padding: 1rem .75rem;
  font-size: 1rem;
  width: 70%;  
  border: 1px solid;
}

.button {
  display: block;
  outline:none;
  border: none;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: deeppink;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  width: 100%;
}
